# repo ignores
node_modules/
.env
apps/brain-api/.env
*.env
.env.*
apps/brain-api/creds.json
apps/brain-api/tokens.json
*.pem
apps/tech-gateway/*.db
AWSCLIV2.pkg
.secrets/
apps/tech-gateway/dist/
apps/**/dist/.DS_Store
apps/**/.DS_Store
# macOS Finder
.DS_Store

# NPM artifacts
package-lock.json

# snapshots
code-snapshot-*.txt
_snapshot/
